<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <%= image_tag 'top.png', class: "max-w-sm rounded-lg shadow-2xl" %>
    <div>
      <h1 class="text-5xl font-bold">Welcome to<br>JikogArtMuseum!</h1>
      <p class="py-6">
        〜ペットの無邪気なハプニングで癒されたいあなたへ〜
      </p>
      <% unless logged_in? %>
        <%= link_to t('.register'), new_user_path, class: 'btn btn-accent' %>
      <% end %>
    </div>
  </div>
</div>

<div class="divider divider-accent"></div>

<div class="py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <h2 class="absolute mb-8 text-left text-2xl font-bold md:mb-12 lg:text-3xl"><%= t('.new_posts') %></h2>

    <%= link_to t('.more'), posts_path, class: 'btn btn-link absolute end-2.5 mb-8 text-xl md:mb-12 lg:text-2xl' %>
  </div>

  <div class="carousel w-full pt-24">
    <div id="slide1" class="carousel-item relative w-full">
      <div class="m-8 mx-auto flex grid gap-4 sm:grid-cols-2 md:gap-6 lg:grid-cols-3 xl:grid-cols-3">
        <% @new_posts.each do |new_post| %>
          <%= link_to post_path(new_post) do %>
            <div class="group relative flex h-96 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
              <%= image_tag new_post.post_image.url, class: 'absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110' %>

              <div class="relative flex w-full flex-col rounded-lg p-4 text-center glass">
                <span class="text-gray-800"><%= new_post.user.name %></span>
                <span class="text-lg font-bold text-gray-800 lg:text-xl"><%= new_post.title %></span>
                <span class="text-gray-800"><%= l new_post.created_at, format: :long %></span>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="divider divider-accent"></div>

<div class="py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <div class="mb-10 md:mb-16">
      <h2 class="mb-4 text-center text-2xl font-bold md:mb-6 lg:text-3xl">事故画美術館へようこそ！</h2>

      <p class="mx-auto max-w-screen-md text-center text-gray-400 md:text-lg">
        ここでは、かわいいペットたちの<strong>『事故画作品』</strong>を鑑賞できます。
        <br>
        <br>
        ペットの日常には、思わぬハプニングがつきものですよね？<br>
        そんな愛らしいアクシデントを共有しませんか？
        <br>
        <br>
        <strong>『事故画美術館』</strong>は<br>
        あなたの愛するペットのかわいい失敗やユーモラスな瞬間をシェアするためのアプリです。
        <br>
        <br>
        事故画とそのシチュエーションを入力すると<br>
        AIがユニークなタイトルをつけてくれます！
        <br>
        <br>
        白目や寝顔、変顔など、思わず笑ってしまう事故画をお楽しみください！<br>
        一緒に笑い、癒しを共有しましょう。
      </p>
      <br>
      <h2 class="mb-4 text-center text-xl font-bold md:mb-6 lg:text-2xl">
        さあ、あなたのペットのおしゃれな事故画をぜひこの美術館に展示してみませんか？
      </h2>

      <% unless logged_in? %>
        <div class="flex justify-center">
          <%= link_to t('.register'), new_user_path, class: 'btn btn-accent' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
