<%= turbo_stream.prepend 'flash-messages', partial: 'shared/flash_message' %>

<% unless @comment.errors.any? %>
  <%= turbo_stream.replace "comment-#{@comment.id}" do %>
    <%= simple_format(@comment.body) %>

    <ul class="list-inline justify-content-center" style="float: right;">
      <li class="list-inline-item">
        <div class="tooltip" data-tip=<%= t('defaults.edit') %>>
          <%= link_to edit_comment_path(@comment), class: 'btn btn-ghost', data: { turbo_stream: true } do %>
            <svg class="h-4 w-4 text-accent" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M12 20h9" />
              <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z" />
            </svg>
          <% end %>
        </div>

        <div class="tooltip" data-tip=<%= t('defaults.delete') %>>
          <%= link_to comment_path(@comment), class: 'btn btn-ghost', data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
            <svg class="h-4 w-4 text-red-800" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <polyline points="3 6 5 6 21 6" />
              <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />
              <line x1="10" y1="11" x2="10" y2="17" />
              <line x1="14" y1="11" x2="14" y2="17" />
            </svg>
          <% end %>
        </div>
      </li>
    </ul>
  <% end %>
<% end %>
