<% if user == current_user %>
  <%= link_to profile_path do %>
    <div class="group relative flex h-auto items-end overflow-hidden rounded-lg bg-secondary p-4 border border-primary">
      <div class="flex flex-col gap-4 w-52">
        <div class="flex gap-4 items-center">
          <div class="skeleton rounded-full shrink-0">
            <%= image_tag user.avatar.url, class: 'w-20 h-20 rounded-full' %>
          </div>

          <div class="flex flex-col gap-4">
            <div class="skeleton h-auto w-28">
              <%= user.name %>
            </div>
          </div>
        </div>

        <div class="skeleton h-auto w-full flex gap-4 items-center">
          <% user.pets.each do |pet| %>
            <%= image_tag pet.pet_avatar.url, class: 'w-16 h-16 rounded-full' %>
            <% if pet.gender == 'male' %>
              <%= pet.name %> くん<br>
            <% else %>
              <%= pet.name %> ちゃん<br>
            <% end %>
            <%= pet.age %> 才<br>
            <%= pet.gender_i18n %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <%= link_to user_path(user) do %>
    <div class="group relative flex h-auto items-end overflow-hidden rounded-lg bg-secondary p-4 border border-primary">
      <div class="flex flex-col gap-4 w-52">
        <div class="flex gap-4 items-center">
          <div class="skeleton rounded-full shrink-0">
            <%= image_tag user.avatar.url, class: 'w-20 h-20 rounded-full' %>
          </div>

          <div class="flex flex-col gap-4">
            <div class="skeleton h-auto w-28">
              <%= user.name %>
            </div>
          </div>
        </div>

        <div class="skeleton h-auto w-full flex gap-4 items-center">
          <% user.pets.each do |pet| %>
            <%= image_tag pet.pet_avatar.url, class: 'w-16 h-16 rounded-full' %>
            <% if pet.gender == 'male' %>
              <%= pet.name %> くん<br>
            <% else %>
              <%= pet.name %> ちゃん<br>
            <% end %>
            <%= pet.age %> 才<br>
            <%= pet.gender_i18n %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
