<% content_for(:title, t('.title')) %>

<div class="py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <div class="mb-10 md:mb-16">
      <h2 class="mb-4 text-center text-2xl font-bold md:mb-6 lg:text-3xl"><%= t('.title') %></h2>
    </div>

    <%= form_with model: @user, class: 'mx-auto grid max-w-screen-md gap-4 sm:grid-cols-2' do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="sm:col-span-2">
        <%= f.label :avatar, class: 'mb-2 inline-block text-sm sm:text-base' %>
        <%= f.file_field :avatar, class: 'mb-4 w-full rounded border bg-gray-50 px-3 py-2 outline-none ring-indigo-300 transition duration-100 focus:ring', accept: 'image/*' %>
      </div>

      <div class="sm:col-span-2">
        <%= f.label :name, class: 'mb-2 inline-block text-sm sm:text-base' %>
        <%= f.text_field :name, class: 'w-full rounded border bg-gray-50 px-3 py-2 outline-none ring-indigo-300 transition duration-100 focus:ring' %>
      </div>

      <div class="sm:col-span-2">
        <%= f.label :email, class: 'mb-2 inline-block text-sm sm:text-base' %>
        <%= f.email_field :email, class: 'w-full rounded border bg-gray-50 px-3 py-2 outline-none ring-indigo-300 transition duration-100 focus:ring' %>
      </div>

      <div class="sm:col-span-2">
        <%= f.label :password, class: 'mb-2 inline-block text-sm sm:text-base' %>
        <%= f.password_field :password, class: 'w-full rounded border bg-gray-50 px-3 py-2 outline-none ring-indigo-300 transition duration-100 focus:ring' %>
      </div>

      <div class="sm:col-span-2">
        <%= f.label :password_confirmation, class: 'mb-2 inline-block text-sm sm:text-base' %>
        <%= f.password_field :password_confirmation, class: 'w-full rounded border bg-gray-50 px-3 py-2 outline-none ring-indigo-300 transition duration-100 focus:ring' %>
      </div>

      <div class="flex items-center justify-between sm:col-span-2">
        <%= f.submit t('.register'), class: 'btn btn-accent' %>
      </div>

      <p class="text-xs text-gray-400 mb-10">
        会員登録すると、当サービスの<%= link_to t('footer.privacy_policy'), privacy_policy_path, class: 'underline transition duration-100 hover:text-indigo-500 active:text-indigo-600' %>に<br>同意したことになります。
      </p>
    <% end %>

    <div class="text-center">
      <%= link_to t('.to_login_page'), login_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
