<div class="stats shadow m-4 bg-accent border border-primary">
  <%= link_to following_user_path(user), class: 'stat' do %>
    <div class="stat-title">フォロー数</div>
    <div class="stat-value"><%= user.following.count %></div>
  <% end %>

  <%= link_to followers_user_path(user), class: 'stat' do %>
    <div class="stat-title">フォロワー数</div>
    <div class="stat-value"><%= user.followers.count %></div>
  <% end %>

  <div class="stat">
    <div class="stat-title">投稿数</div>
    <div class="stat-value"><%= user.posts.count %></div>
  </div>
</div>
