<%= form_with model: post, class: 'mx-auto grid max-w-screen-md gap-4 sm:grid-cols-2' do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="sm:col-span-2">
    <%= f.label :post_image, class: 'mb-2 inline-block text-sm sm:text-base' %>
    <%= f.file_field :post_image, class: 'w-full rounded border bg-gray-50 px-3 py-2 outline-none ring-indigo-300 transition duration-100 focus:ring', accept: 'image/*' %>
    <%= f.hidden_field :post_image_cache %>
  </div>

  <div class="sm:col-span-2">
    <%= image_tag post.post_image.url, size: '300x200' if post.post_image? %>
  </div>

  <div class="sm:col-span-2">
    <%= f.label :title, class: 'mb-2 inline-block text-sm sm:text-base' %>
    <%= f.text_field :title, class: 'w-full rounded border bg-gray-50 px-3 py-2 outline-none ring-indigo-300 transition duration-100 focus:ring' %>
  </div>

  <div class="sm:col-span-2">
    <%= f.label :body, class: 'mb-2 inline-block text-sm sm:text-base' %>
    <%= f.text_area :body, class: 'w-full rounded border bg-gray-50 px-3 py-2 outline-none ring-indigo-300 transition duration-100 focus:ring', row: '10', style: 'height: 200px' %>
  </div>

  <%= f.fields_for :tags do |i| %>
    <div class="sm:col-span-2">
      <%= i.label :name, t('defaults.tag'), class: 'mb-2 inline-block text-sm sm:text-base' %>
      <%= i.text_field :name, value: @tags, class: 'w-full rounded border bg-gray-50 px-3 py-2 outline-none ring-indigo-300 transition duration-100 focus:ring', placeholder: '例: 柴犬,変顔' %>
    </div>
  <% end %>

  <div class="flex items-center justify-between sm:col-span-2">
    <%= f.submit t('defaults.update'), class: 'btn btn-accent' %>

    <%= link_to t('defaults.cancel'), post_path(post), class: 'btn btn-outline' %>
  </div>
<% end %>
