<div id="post-id-<%= post.id %>">
  <%= link_to post_path(post) do %>
    <div class="group relative flex h-96 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
      <%= image_tag post.post_image.url, class: 'absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110' %>

      <div class="relative flex w-full flex-col rounded-lg p-4 text-center glass">
        <span class="text-gray-500"><%= post.user.name %></span>
        <span class="text-lg font-bold text-gray-800 lg:text-xl"><%= post.title %></span>
        <span class="text-gray-500"><%= l post.created_at, format: :long %></span>
      </div>
    </div>

    <% if logged_in? %>
      <% if current_user.own?(post) %>
        <div class="flex justify-end">
          <%= link_to edit_post_path(post), id: "button-edit-#{post.id}", class: 'btn btn-ghost' do %>
            <svg class="h-6 w-6 text-gray-800" <svg  width="24"  height="24"  viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M12 20h9" />  <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z" /></svg>
            <%= t('defaults.edit') %>
          <% end %>
          <%= link_to post_path(post), id: "button-delete-#{post.id}", class: 'btn btn-ghost', data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } do %>
            <svg class="h-6 w-6 text-gray-800"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <polyline points="3 6 5 6 21 6" />  <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />  <line x1="10" y1="11" x2="10" y2="17" />  <line x1="14" y1="11" x2="14" y2="17" /></svg>
            <%= t('defaults.delete') %>
          <% end %>
        </div>
      <% else %>
        <div class="flex justify-end">
          <%= render 'like_button', post: post %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
