<% content_for(:title, t('.title')) %>

<div class="py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <% if params[:tag_name] %>
      <%= link_to t('defaults.back'), posts_path, class: 'btn btn-outline btn-primary' %>
      <h2 class="mb-8 text-center text-2xl font-bold md:mb-12 lg:text-3xl">「<%= params[:tag_name] %>」の<%= t('.title') %></h2>
    <% else %>
      <h2 class="mb-8 text-center text-2xl font-bold md:mb-12 lg:text-3xl"><%= t('.title') %></h2>
    <% end %>
  </div>

  <% if @posts.present? %>
    <div class="m-8 y-8">
      <%= render 'search_form', q: @q, url: search_posts_path %>
    </div>

    <div class="flex flex-row-reverse m-8 dropdown">
      <div tabindex="0" role="button" class="btn btn-primary"><%= t('defaults.sort') %></div>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-12 z-[1] p-2 shadow bg-base-100 border border-primary rounded-box w-52">
        <li>
          <%= link_to t('defaults.latest'), posts_path(latest: "true") %>
          <%= link_to t('defaults.old'), posts_path(old: "true") %>
          <%= link_to t('defaults.like_count'), posts_path(order_by_like_count: "true") %>
        </li>
      </ul>
    </div>

    <div class="m-8 flex grid gap-4 sm:grid-cols-2 md:gap-6 lg:grid-cols-3 xl:grid-cols-3">
      <%= render @posts %>
    </div>
  <% else %>
    <div class="text-center font-bold text-gray-400"><%= t('.no_result') %></div>
  <% end %>

  <%= paginate @posts %>
</div>
