<% content_for(:title, t('.title')) %>

<div class="py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <h2 class="mb-8 text-center text-2xl font-bold md:mb-12 lg:text-3xl"><%= t('.title') %></h2>
  </div>

  <% if @like_posts.present? %>
    <div class="m-8 y-8">
      <%= render 'search_form', q: @q, url: likes_posts_path %>
    </div>

    <div class="m-8 flex grid gap-4 sm:grid-cols-2 md:gap-6 lg:grid-cols-3 xl:grid-cols-3">
      <%= render partial: 'post', collection: @like_posts %>
    </div>
  <% else %>
    <div class="text-center font-bold text-gray-400"><%= t('.no_result') %></div>
  <% end %>

  <%= paginate @like_posts %>
</div>
