<% content_for(:title, t('.title')) %>

<div class="py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <div class="mb-10 md:mb-16">
      <h2 class="mb-4 text-center text-2xl font-bold md:mb-6 lg:text-3xl"><%= t('.title') %></h2>
    </div>

    <%= form_with url: login_path, class: 'mx-auto grid max-w-screen-md gap-4 sm:grid-cols-2' do |f| %>
      <div class="sm:col-span-2">
        <%= f.label :email, class: 'mb-2 inline-block text-sm sm:text-base' %>
        <%= f.email_field :email, class: 'w-full rounded border bg-gray-50 px-3 py-2 outline-none ring-indigo-300 transition duration-100 focus:ring' %>
      </div>

      <div class="sm:col-span-2">
        <%= f.label :password, class: 'mb-2 inline-block text-sm sm:text-base' %>
        <%= f.password_field :password, class: 'w-full rounded border bg-gray-50 px-3 py-2 outline-none ring-indigo-300 transition duration-100 focus:ring' %>
      </div>

      <div class="flex items-center justify-between sm:col-span-2 mb-10">
        <%= f.submit t('.login'), class: 'btn btn-accent' %>
      </div>
    <% end %>

    <div class="grid grid-cols-7 gap-4">
      <%= link_to t('.to_register_page'), new_user_path, class: 'btn btn-primary col-start-3' %>
      <%= link_to t('.password_forget'), new_password_reset_path, class: 'btn btn-link col-end-6' %>
    </div>
  </div>
</div>
